{{ define "content" }}

<form class="form-signin" role="form" action="/signup" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o">
      Lako Poslati
    </i>
  </h2>
  <div class="lead">Choose type of an account below</div>

<p>
  <input type="radio" name="user-type" value="customer" checked> Shipping customer<br>
  <input type="radio" name="user-type" value="provider"> Shipping provider<br>
<p>
<br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>


{{ end }}

<!--
<div>
  <label class="custom-radio">Shipping customer
    <input type="checkbox" name="user-type" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="custom-radio">Shipping provider
    <input type="checkbox" name="user-type">
    <span class="checkmark"></span>
  </label>
</div>
-->
