{{ define "content" }}
<br/>
<p class="lead">

  Ship is providing an internet marketplace where transport service requesters may list items they need to move, and where providers of transport services can bid in a reverse auction format.
  By utilising spare capacity of vehicles running on the road, Ship helps reduce the number of otherwise wasteful journeys needed to transport the item
</p>

<div class="moj-image">
</div>

<!-- <img src="static/img/ship.png"   class="img-fluid" alt="Container" > -->


{{ end }}
